   *{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
 }
   h2{
        color: black;
        text-align: center;
    }
    
    p{
        color: black;

        text-align: justify;
    }
    button{
        color: black;
        background-color: rgba(18, 119, 150, 0.61);
       
    }
table{
    color: black;
}

select{
    color: black;
}
input{
    color: black;
}
img{
    position: relative;

    left: 25%;
    right: 25%;
}