*{
    background-color: white;
}

input[type="text"]{
    color: white(0, 255, 0);
}
h1{
    color: white(0, 255, 0);
}
button{
    background-color: rgb(247, 171, 7);
    color: white;
}

th,td{
    color: white(0, 255, 0);
}
